.admin-settings-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.admin-settings-title {
  font-size: 2em;
  color: var(--darker);
  margin-bottom: 1em;
}

.admin-settings-form {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.admin-settings-pair {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: flex-end;
}

.admin-settings-group {
  border: 1px solid var(--gray);
  padding: 15px;
  border-radius: 0.4em;
  overflow: scroll;
}

.admin-settings-label {
  font-size: 1.2em;
  color: var(--darker);
  margin-bottom: 0.5em;
  display: block;
}

.admin-settings-label.sub-label {
  margin-top: 1em;
}

.admin-settings-item {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  margin-bottom: 0.8em;
}

.admin-settings-subcategories {
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px solid var(--light-gray);
  width: 100%;
}

.admin-settings-sub-item {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  margin-bottom: 0.5em;
}

.admin-settings-add-item,
.admin-settings-add-subcategory {
  margin-top: 1em;
  display: flex;
  gap: 1em;
  align-items: flex-end;
}

.admin-item-color-picker {
  width: 3em;
  height: 3em;
  border: none;
  background-color: var(--gray);
  border-radius: 0.2em;
}

.remove-color-button {
  color: var(--white);
  border: none;
  padding: 0.2em 0.5em;
  cursor: pointer;
  border-radius: 0.2em;

  background-color: var(--dark);
}

.remove-color-button:hover {
  background-color: var(--red);
  color: var(--white);
}

.add-color-button {
  color: var(--dark);
  border: none;
  padding: 0.5em 2em;
  cursor: pointer;
  border-radius: 0.2em;
  background-color: var(--light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-color-button:hover {
  background-color: var(--blue);
  color: var(--white);
}

.admin-settings-add-button,
.admin-settings-remove-button {
  border: none;
  border-radius: 0.4em;
  background-color: var(--orange);
  color: var(--white);
  font-size: 1em;
  font-weight: 500;
  padding: 0.4em 0.8em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.admin-settings-add-button:hover,
.admin-settings-remove-button:hover {
  background-color: var(--light-orange);
  color: var(--orange);
}

.admin-settings-remove-button {
  background-color: var(--gray);
  display: flex;
  gap: 0.4em;
}

.admin-settings-remove-button:hover {
  background-color: var(--light-gray);
  color: var(--gray);
}

.admin-item-color-item {
  display: flex;
  justify-content: space-between;
  background-color: var(--light-gray);
  padding: 0.4em;
  border-radius: 0.3em;
  margin-top: 0.5em;
  border: 1px solid var(--gray);
}

.admin-settings-array-container {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  margin-bottom: 1em;
}

.admin-settings-array-item {
  display: flex;
  gap: 1em;
  align-items: center;
}

.admin-settings-save-button {
  border: none;
  border-radius: 0.4em;
  background-color: var(--orange);
  color: var(--white);
  font-size: 1.2em;
  font-weight: 500;
  padding: 0.8em 1.5em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 2em;
  align-self: flex-start;
}

.admin-settings-save-button:hover {
  background-color: var(--blue);
  color: var(--white);
}
