.form-group {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 100%;
}

.form-label {
  color: var(--dark-text);
  margin-bottom: 0.5em;
  font-size: 1.1em;
}

.form-input,
.form-select,
.form-textarea {
  font-size: 1em;
  border: 1px solid var(--light-gray);
  color: var(--text-box-text);
  background-color: var(--text-box);
  padding: 0.6em;
  font-family: var(--font-lato);
  width: 100%;
  border-radius: 0em;
  transition: border 0.2s ease;
}
.form-label-info {
  color: var(--orange);
  margin-bottom: 0.4em;
  font-size: 1em;
}

.form-textarea {
  resize: none;
}

.form-checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.form-checkbox-label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  cursor: pointer;
  font-family: var(--font-montserrat);
}

.form-checkbox {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.form-checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.form-checkbox-label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  cursor: pointer;
  font-family: var(--font-montserrat);
}

.form-error-message {
  color: var(--red);
  font-size: 0.8em;
}

.form-input-error {
  background-color: rgb(255, 194, 194);
  color: var(--red);
}

/* Radio Button Styling */

.form-radio-label {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 1em 0 !important;
}

/* Hide the browser's default radio button */
.form-radio-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 0;
}

/* Create a custom radio button */
.form-radio-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
  width: 12px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.form-radio-label:hover input ~ .form-radio-checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.form-radio-label input:checked ~ .form-radio-checkmark {
  background-color: var(--blue);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.form-radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.form-radio-label input:checked ~ .form-radio-checkmark:after {
  display: block;
}
/* End Radio button Styling*/
