:root {
  --blue: #0c71c3;
  --white: #fff;
  --dark-blue: #23444e;
  --pink: #ff82c3;
  --dark: #515151;
  --darker: #0a0a0a;
  --g-mobile-padding: 3em;
  --g-padding: 10em;
  --header-height: 5.2em;
  --g-section-padding: 5em;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--white);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--pink);
  border: none;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--blue);
}

::-moz-scrollbar-button,
::-webkit-scrollbar-button {
  width: 0px;
}

* {
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
  position: relative;
}

a {
  text-decoration: none;
  font-family: var(--font-rubik);
}

h1 {
  font-family: var(--font-rubik);
}

h2 {
  font-family: var(--font-rubik);
}

h3 {
  font-family: var(--font-rubik);
}

p,
select,
span,
table,
label,
textarea,
div {
  font-family: var(--font-montserrat);
}

button {
  font-family: var(--font-montserrat);
}

.link:hover {
  cursor: pointer;
}

.container {
  padding: 0 var(--g-mobile-padding);
}

.first-container {
  margin-top: var(--header-height);
}

ul {
  list-style: none;
}

@media (min-width: 650px) {
  .container {
    padding: 0 var(--g-padding);
  }
}
