:root {
  --blue: #0c71c3;
  --dark-blue: #044173;
  --light-blue: #9fc9eb;
  --white: #fff;
  --dark-blue: #23444e;
  --pink: #ff82c3;
  --red: #f03a3a;
  --text-box: #eef6fa;
  --text-box-text: #2d3236;
  --gray: #b5b5b5;
  --light-gray: #e3e3e3;
  --dark: #515151;
  --darker: #0a0a0a;
  --dark-text: #181818;
  --darkest: #000000;
  --orange: #fa8100;
  --light-orange: #eeaf6c;
  --dark-orange: #e35300;
  --g-mobile-padding: 2em;
  --g-padding: 10px;
  --header-height: 5.2em;
  --g-section-padding: 5em;
  --g-mobile-section-padding: 3em;
  --accent-gray: #fff;
  --bluer: #52a9ff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--white);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--pink);
  border: none;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--blue);
}

::-moz-scrollbar-button,
::-webkit-scrollbar-button {
  width: 0px;
}

* {
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
  position: relative;
}

a {
  text-decoration: none;
  font-family: var(--font-rubik);
}

h1 {
  font-family: var(--font-montserrat);
}

h2 {
  font-family: var(--font-montserrat);
}

h3 {
  font-family: var(--font-rubik);
}

p,
select,
span,
table,
label,
textarea,
div {
  font-family: var(--font-rubik);
}

button {
  font-family: var(--font-rubik);
}

.link:hover {
  cursor: pointer;
}

.container {
  padding: 0 var(--g-mobile-padding);
}

.first-container {
  margin-top: var(--header-height);
}

.m-hide {
  display: none !important;
}
.m-show {
  display: block !important;
}

ul {
  list-style: none;
}

@media (min-width: 640px) {
  .m-hide {
    display: block !important;
  }
  .m-show {
    display: none !important;
  }
  .container {
    padding: 0 var(--g-padding);
  }

  :root {
    --g-padding: 10em;
  }
}
