.profile-container {
  width: 100%;
  margin: 2em 0;
}

.profile-content-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: 4em 0;
}

.profile-banner-content-title {
  font-size: 4em;
  margin-bottom: 0.5em;
}

.profile-info-content {
  margin: 2em 0;
  color: var(--gray);
  font-size: 1.2em;
}

.register-form-fields {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.register-container {
  display: flex;
  flex-direction: column;
  gap: 3em;
  width: 100%;
}

.register-button {
  background-color: var(--orange);
  border: none;
  color: var(--white);
  padding: 1em 2em;
  font-size: medium;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: all 0.2s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3em;
}

.register-button-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.action-button {
  background-color: var(--bluer);
}

.register-button:hover {
  border: 1px solid var(--orange);
  background-color: var(--white);
  color: var(--orange);
  cursor: pointer;
}

.action-button:hover {
  border-color: var(--bluer);
  color: var(--bluer);
}

.profile-content-first h2 {
  text-align: center;
  font-size: 3em;
  font-family: var(--font-rubik);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--orange);
  margin-bottom: 1em;
}

.profile-content-first form {
  text-align: center;
  overflow: scroll;
}

.profile-content-first input,
.profile-content-first textarea {
  width: 100%;
  background-color: var(--text-box);
  border: none;
  color: var(--text-box-text);
  padding: 1em;
  font-size: small;
  margin-bottom: 1em;
  resize: none;
}

.profile-content-first button {
  background-color: var(--orange);
  border: none;
  color: var(--white);
  padding: 1em 2em;
  font-size: medium;
  border-radius: 30px;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.profile-content-first button:hover {
  border: 1px solid var(--orange);
  background-color: var(--white);
  color: var(--orange);
  cursor: pointer;
}

.profile-content-second h2 {
  color: var(--darker);
  text-align: center;
  margin: 2em 0 2em;
}

.profile-content-second p {
  color: var(--darker);
  margin: 1em 0;
}

.profile-content-second li a {
  color: var(--text-box-text);
}
.profile-content-second li {
  margin: 1em 0;
}

@media (min-width: 480px) {
  .profile-banner-content-title {
    font-size: 4em;
  }
  .profile-banner-content-subtitle {
    font-size: large;
  }
}

@media (min-width: 980px) {
  .profile-content-container {
    flex-direction: row;
    gap: 2em;
  }
  .profile-content-first {
    width: 50%;
  }

  .profile-content-second {
    width: 50%;
    text-align: right;
  }

  .profile-content-second h2 {
    text-align: right;
  }
}

@media (min-width: 1100px) {
  .profile-banner-content-container {
    padding: 0 var(--g-padding);
  }
  .profile-banner-content-title {
    font-size: 5em;
  }
  .profile-banner-content-subtitle {
    font-size: large;
  }

  .register-button-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
  }

  .register-button {
    width: 100%;
  }
}
