.orders-cont {
  width: 100%;
  min-height: 80vh;
  background-color: var(--blue) !important;
}
.orders-title {
  color: var(--white) !important;
}
.admin-orders-container {
  color: var(--white);
}

.admin-orders-filter-tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.admin-filter {
  padding: 0.3em 0.3em;
  width: 100%;
  border: 1px solid var(--white);
  background-color: var(--white);
  color: var(--dark);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.admin-filter:hover {
  background-color: var(--dark);
  color: var(--white);
}

.admin-filter.active {
  background-color: var(--orange);
  border: 1px solid var(--white);
  color: var(--white);
  font-weight: bold;
}

.admin-orders-rows {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background-color: var(--white);
  min-height: 50vh;
  padding: 1em;
}

.admin-order-container {
  padding: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--blue);
  transition: all 0.3s ease-in-out;
  background-color: var(--white);
  cursor: pointer;
  color: var(--dark);
}

.success-container {
  border-color: #00df6f;
}

.failed-container {
  border-color: #ff3939;
}

.pending-container {
  border-color: #ffbe09;
}

.admin-order-container:hover {
  transform: scale(1.01);
  border: 1px solid var(--orange);
}

.admin-order-top-info {
  display: flex;
  flex-direction: row;
  padding: 0.5em 0;
  border-bottom: 1px solid var(--white);
  justify-content: space-between;
}

.admin-order-bottom-info {
  display: flex;
  flex-direction: row;
  padding: 0.5em 0;
  justify-content: space-between;
}

.admin-order-new {
  color: var(--orange);
  font-weight: bold;
  font-family: var(--font-lato);
  text-align: right;
}

.admin-order-name {
  font-size: 1.3em;
  font-weight: bold;
  text-align: left;
  color: var(--orange);
}
.admin-order-items-left {
  text-align: left;
}

.admin-order-items-right {
  text-align: right;
  overflow-wrap: anywhere;
}

@media (min-width: 943px) {
  .admin-filter {
    width: unset;
    padding: 0.3em 1.2em;
  }
  .admin-orders-filter-tabs {
    flex-direction: row;
  }
}
