.item-container {
  margin: 2em 0;
}

.item-breadcrumb-container {
  font-weight: bold;
  font-family: var(--font-rubik);
  margin-bottom: 2em;
}

.item-breadcrumb-container a {
  color: var(--orange);
  font-size: small;
}

.item-breadcrumb-separator {
  width: 2px;

  border-right: 1px solid var(--grey);
  margin: 0 1em;
}

.item-information-container {
  display: flex;
  flex-direction: column;
  gap: 3em;
  margin-bottom: 2em;
}
.item-display-container {
  width: 100%;
}

.item-images-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item-image-container {
  width: 100%;
  height: 22em;
}

.item-image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.4em;
  gap: 0.4em;
  margin: auto;
  width: min-content;
  margin-top: 2em;
}

.item-gallery-image-container {
  width: 6em;
  height: 6em;
  cursor: pointer;
  border: 2px solid transparent;
}

.active.item-gallery-image-container {
  border-color: var(--orange);
}

.item-image-container img {
  object-fit: contain;
}

.item-content-title {
  font-weight: bold;
  font-family: var(--font-rubik);
  color: var(--darker);
  text-transform: capitalize;
}
.item-content-cost {
  font-weight: bold;
  font-family: var(--font-rubik);
  color: var(--orange);
  text-transform: capitalize;
  margin-bottom: 1em;
  font-size: larger;
}
.item-content-separator {
  height: 1px;
  width: 100%;
  border-bottom: 1px solid var(--grey);
  margin-bottom: 2em;
}

.item-colors-text,
.item-sizes,
.item-quantity-text {
  font-size: medium;
  display: block;
  margin: 1em 0;
}

.item-colors {
  display: flex;
  flex-direction: row;
  gap: 1.3em;
  width: 100%;
  margin-bottom: 1em;
}

.item-color,
.item-sizes-select,
.item-quantity-container input {
  padding: 0.7em;
  border: 1px solid var(--gray);
  background-color: #fff;
  color: var(--darker);
  font-weight: 500;
  font-size: medium;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.item-color-selected,
.item-size-select {
  background-color: var(--darker);
  color: var(--white);
  border: 3px solid var(--orange);
}

.item-color-name {
  background-color: #6c6c6c;
  padding: 0.1em 0.5em;
  border-radius: 20px;
  color: var(--white);
}

.item-add-btn {
  font-family: var(--font-rubik);
  font-size: medium;
  padding: 0.6em 1em;
  font-weight: 500;
  background-color: var(--orange);
  color: var(--white);
  border: 1px solid transparent;
  margin: 1em 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.item-add-btn:hover {
  background-color: var(--white);
  color: var(--orange);
  border: 1px solid var(--orange);
}

.item-description-title {
  font-size: 0.9;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--orange);
  margin-bottom: 0.7em;
}

.item-description-container {
  margin: 3em 0;
}

@media (min-width: 480px) {
  .item-information-container {
    flex-direction: row;
  }
}

@media (min-width: 1100px) {
  .item-information-container {
    flex-direction: row;
  }
  .item-content-container {
    flex-basis: 33%;
  }
  .item-image-gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.4em;
  }
}
